<!DOCTYPE html>
<html>

  <head>
    <title>Photos</title>
  </head>

  <body>

    <h1>HERE ARE THE PHOTOS</h1>

    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/photos">Photos</a></li>
      <li><a href="/search">Search</a></li>
    </ul>


    <!--Use a for loop where indices of thumbnail references and their corresponding
    thumbnails match up so that info from references can be assigned to the appropriate
    thumbnail image-->
    {% for img_url, thumbnail_reference in thumbnails.iteritems() %}
    <div class="thumbnail">
      <img id='{{thumbnail_reference.thumbnail_name}}' src='{{img_url}}'>
      <div class="descent">{{thumbnail_reference.thumbnail_name}}</div>
    </div>
    {% endfor %}

  </body>
</html>
